<h5 style ="color: #fb8500;font-size:25px; font-style:bold; text-decoration: underline;"> Model Creation </h5>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data/Scaled Thyroid Data.csv')

In [4]:
data.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,Classes
0,0.430108,0,0,0,0,0,0,0,0,0,...,0.235849,1,0.290698,1,0.491379,1,0.275949,0,0.0,2
1,0.236559,0,0,0,0,0,0,0,0,0,...,0.188679,1,0.237209,0,0.000000,0,0.000000,0,0.0,2
2,0.483871,1,0,0,0,0,0,0,0,0,...,0.000000,1,0.253488,1,0.392241,1,0.303797,0,0.0,2
3,0.741935,0,1,0,0,0,0,0,0,0,...,0.179245,1,0.406977,0,0.000000,0,0.000000,0,0.0,2
4,0.741935,0,0,0,0,0,0,0,0,0,...,0.113208,1,0.141860,1,0.375000,1,0.177215,0,0.0,2

### Split Data into X and y

In [5]:
X = data.drop(columns='Classes')
y = data['Classes']

In [12]:
"""     Negative(2)           3609
        Hypothyroidism (1)     149
        Hyperthyroidism (0)     14 """

data['Classes'].value_counts()

2    3608
1     149
0      14
Name: Classes, dtype: int64

In [13]:
X.shape

(3771, 28)

In [14]:
y.shape

(3771,)

In [ ]:
# Sci-Kit Learn Libary