<h5 style ="color: #fb8500;font-size:25px; font-style:bold; text-decoration: underline;"> Model Creation </h5>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data/ML_Thyroid Detection data.csv')

In [3]:
data.head()

,age,sex,TSH measured,TSH,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,Classes
0,0.430108,0,1,0.002453,1,0.235849,1,0.290698,1,0.491379,1,0.275949,2
1,0.236559,0,1,0.007736,1,0.188679,1,0.237209,0,0.000000,0,0.000000,2
2,0.483871,1,1,0.001849,0,0.000000,1,0.253488,1,0.392241,1,0.303797,2
3,0.741935,0,1,0.000302,1,0.179245,1,0.406977,0,0.000000,0,0.000000,2
4,0.741935,0,1,0.001358,1,0.113208,1,0.141860,1,0.375000,1,0.177215,2

In [4]:
data.rename(columns={"TSH measured":"TSH_measured","T3 measured":"T3_measured","TT4 measured":"TT4_measured","T4U measured":"T4U_measured","FTI measured":"FTI_measured"},inplace=True)
data.head()

,age,sex,TSH_measured,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,Classes
0,0.430108,0,1,0.002453,1,0.235849,1,0.290698,1,0.491379,1,0.275949,2
1,0.236559,0,1,0.007736,1,0.188679,1,0.237209,0,0.000000,0,0.000000,2
2,0.483871,1,1,0.001849,0,0.000000,1,0.253488,1,0.392241,1,0.303797,2
3,0.741935,0,1,0.000302,1,0.179245,1,0.406977,0,0.000000,0,0.000000,2
4,0.741935,0,1,0.001358,1,0.113208,1,0.141860,1,0.375000,1,0.177215,2

### Split Data into X and y

In [5]:
X = data.drop(columns='Classes')
y = data['Classes']

In [6]:
"""     Negative(2)           3609
        Hypothyroidism (1)     149
        Hyperthyroidism (0)     14 """

data['Classes'].value_counts()

2    3608
1     149
0      14
Name: Classes, dtype: int64

In [7]:
X

,age,sex,TSH_measured,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI
0,0.430108,0,1,0.002453,1,0.235849,1,0.290698,1,0.491379,1,0.275949
1,0.236559,0,1,0.007736,1,0.188679,1,0.237209,0,0.000000,0,0.000000
2,0.483871,1,1,0.001849,0,0.000000,1,0.253488,1,0.392241,1,0.303797
3,0.741935,0,1,0.000302,1,0.179245,1,0.406977,0,0.000000,0,0.000000
4,0.741935,0,1,0.001358,1,0.113208,1,0.141860,1,0.375000,1,0.177215
...,...,...,...,...,...,...,...,...,...,...,...,...
3766,0.311828,0,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000
3767,0.720430,0,1,0.001887,1,0.198113,1,0.288372,1,0.465517,1,0.288608
3768,0.784946,0,1,0.009623,1,0.169811,1,0.260465,1,0.461207,1,0.265823
3769,0.763441,1,1,0.001321,1,0.188679,1,0.190698,1,0.405172,1,0.220253
3770,0.677419,0,1,0.001887,1,0.207547,1,0.230233,1,0.461207,1,0.232911

In [8]:
X.shape

(3771, 12)

In [9]:
X.columns

Index(['age', 'sex', 'TSH_measured', 'TSH', 'T3_measured', 'T3',
       'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured', 'FTI'],
      dtype='object')

In [10]:
y.shape

(3771,)

In [16]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [17]:
# Sci-Kit Learn Libary

# Libaries for Model - Classifier

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier,RandomForestClassifier
from xgboost import XGBClassifier

print('import Successfully')

import Successfully

# Hyper-Parameter Tuning

In [18]:
model_parameter ={

"Logistic_Regression" :{
                        "model" : LogisticRegression(solver='liblinear'),
                        "param" : {}
                       },

"Decision_Tree" :{
                        "model" : DecisionTreeClassifier(),
                        "param" : {'criterion' : ["gini", "entropy"]}
                 },

"SVC" : {
                        "model" : SVC(),
                        "param" : {'C' :[1.0],
                                   'kernel' : ['linear', 'poly', 'rbf'],
                                   'gamma': ['scale','auto']
                                  }
       },

"KNeighborsClassifier" : {
                        "model" : KNeighborsClassifier(),
                        "param" : {'n_neighbors' : [4,5,6]}
                        },

"BernoulliNB" :  {
                    "model" : BernoulliNB(),
                    "param" : {}
                 },

"MultinomialNB" : {
                    "model" : MultinomialNB(),
                     "param" : {}
                 },

 "GaussianNB" :{
                    "model" : GaussianNB(),
                    "param" : {}
                },

"RandomForestClassifier" :{
                    "model" : RandomForestClassifier(),
                    "param" : {'criterion' : ["gini", "entropy"],
                            'n_estimators' : [85,100,110,105]
                              }
                      },

 "AdaBoostClassifier" :{
                    "model" : AdaBoostClassifier(),
                    "param" : {'n_estimators' : [10,50,100]}
                      },

"GradientBoostingClassifier" :{
                    "model" : GradientBoostingClassifier(),
                    "param" : {'n_estimators' : [10,50,100]}
                      },

"XGBClassifier" :{
                    "model" : XGBClassifier(),
                    "param" : {}
}

}

In [19]:
# Model Section 
from sklearn.model_selection import GridSearchCV
Scores = []
for model_name ,model_param in model_parameter.items():
    gs = GridSearchCV(model_param['model'],model_param['param'],cv = 5,return_train_score=False)
    gs.fit(X_train,y_train)
    Scores.append({'Model': model_name,
                 'Best_Score' : gs.best_score_,
                 'Best_Parameter' : gs.best_params_})

Model_Report = pd.DataFrame(Scores,columns=['Model','Best_Score','Best_Parameter'])

In [20]:
Model_Report.sort_values(by='Best_Score',ascending=False)

,Model,Best_Score,Best_Parameter
10,XGBClassifier,0.976306,{}
9,GradientBoostingClassifier,0.974892,{'n_estimators': 100}
7,RandomForestClassifier,0.972773,"{'criterion': 'entropy', 'n_estimators': 100}"
3,KNeighborsClassifier,0.970648,{'n_neighbors': 6}
1,Decision_Tree,0.969591,{'criterion': 'entropy'}
2,SVC,0.967821,"{'C': 1.0, 'gamma': 'scale', 'kernel': 'poly'}"
0,Logistic_Regression,0.960041,{}
4,BernoulliNB,0.957567,{}
5,MultinomialNB,0.957567,{}
8,AdaBoostClassifier,0.951204,{'n_estimators': 10}
6,GaussianNB,0.188123,{}

In [21]:
gs.estimator

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, gamma=None,
              gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, predictor=None, random_state=None,
              reg_alpha=None, reg_lambda=None, ...)

In [22]:
gs.best_score_

0.9763057006160294

In [28]:
y_test.tail(50)

2413    2
628     2
2912    2
2009    2
2830    2
455     2
505     2
3394    2
3120    2
1672    2
1720    1
1561    2
2371    2
1242    1
2385    2
3756    2
16      2
2076    2
3372    2
1894    2
1403    2
527     2
2224    2
1096    2
1808    2
3310    2
3542    2
1223    2
62      2
2895    2
3125    2
1272    2
2275    2
2614    2
397     1
3297    2
2708    2
3036    2
1198    2
3265    2
2101    2
2062    2
3447    1
136     2
2710    2
3552    2
3032    2
596     2
1892    2
54      2
Name: Classes, dtype: int64

# Testing Model

In [29]:
gs.predict(X_test)

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1,
       2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
      dtype=int64)

In [30]:
y_test.loc[1242]

1

In [31]:
test=[i for i in X_test.loc[1242]]
test

[0.3548387096774194,
 0.0,
 1.0,
 3.7735849056603776e-05,
 1.0,
 0.3490566037735849,
 1.0,
 0.455813953488372,
 1.0,
 0.7112068965517242,
 1.0,
 0.3012658227848101]

In [32]:
X_test.loc[[1242]]

,age,sex,TSH_measured,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI
1242,0.354839,0,1,0.000038,1,0.349057,1,0.455814,1,0.711207,1,0.301266

In [33]:
gs.predict(X_test.loc[[1242]])[0]

1

In [35]:
test =[i for i in X_test.loc[1242]]

In [36]:
test_df = pd.DataFrame([test],columns=X_test.columns)

In [37]:
y_test

1192    2
2707    2
385     2
2315    2
2981    2
       ..
3552    2
3032    2
596     2
1892    2
54      2
Name: Classes, Length: 943, dtype: int64

In [38]:
gs.predict(test_df)[0]

1

# Saving model

In [39]:
import joblib

joblib.dump(gs,'model.xgb')

['model.xgb']

In [40]:
ml = joblib.load('model.xgb')

In [41]:
ml.predict(test_df)[0]

1